

body{background-color: rgb(255, 245, 232);
font-family: 'Times New Roman', Times, serif; text-align: justify; font-size: 20px;
    h1{
color: black; font-family: Arial, Helvetica, sans-serif, Times, serif;

    }
    h2{
        color: rgb(68, 59, 59);
    }
}